<configuration>

    <include resource="logback/logback-spring-test.xml" />

    <appender name="STDOUT_ASYNC" class="no.entur.logging.cloud.logback.logstash.test.CompositeConsoleAsyncAppenderLogging">
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>0</maxFlushTime>
        <appender-ref ref="STDOUT" />
    </appender>

    <root>
        <appender-ref ref="STDOUT_ASYNC" />
    </root>

</configuration>