<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
		</encoder>
    </appender>

	<appender name="STDOUT_ASYNC" class="no.entur.logging.cloud.grpc.mdc.GrpcMdcContextAsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<maxFlushTime>0</maxFlushTime>
		<appender-ref ref="STDOUT" />
	</appender>

	<logger name="io.grpc.netty" level="WARN"/>
	<logger name="io.netty" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT_ASYNC" />
	</root>

</configuration>