<included>

	<!-- from org/springframework/boot/logging/logback/base.xml -->
	<include resource="logback/spring-defaults-test.xml" />

	<appender name="STDOUT" class="no.entur.logging.cloud.gcp.spring.test.SpringCompositeConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${CONSOLE_LOG_THRESHOLD}</level>
		</filter>
		<humanReadablePlainEncoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</humanReadablePlainEncoder>
		<humanReadableJsonEncoder class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverLogstashEncoder">
			<!-- remove unnecessary fields in testing -->
			<!-- note: severity and severity is removed in code -->
			<fieldNames>
				<version>[ignore]</version>
			</fieldNames>
			<!-- add pretty-printing and coloring for testing -->
			<!--
				TODO this seems to add an extract space after the last newline,
				but as this is just the human readable format, this is not important.
			 -->
			<decorator class="org.entur.decorators.SyntaxHighlightingMapperBuilderDecorator">
				<syntaxHighlighterFactory class="no.entur.logging.cloud.gcp.spring.test.LogSeveritySyntaxHighlighterFactory">
					<!-- Emulate intellij color scheme: Settings | Editor | Color Scheme | JSON. -->
					<stringValue>green</stringValue>
					<booleanValue>blue</booleanValue>
					<numberValue>blue</numberValue>
					<fieldName>magenta</fieldName>
				</syntaxHighlighterFactory>
			</decorator>
			<decorator class="org.entur.decorators.SyntaxHighlightingJsonGeneratorDecorator"/>
		</humanReadableJsonEncoder>
		<machineReadableJsonEncoder class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverLogstashEncoder">
			<!-- note: this encoder will be used to evaluate assertions against log statements -->
			<fieldNames>
				<version>[ignore]</version>
				<timestamp>[ignore]</timestamp>
			</fieldNames>
			<provider class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverServiceContextJsonProvider"/>
			<provider class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverTimestampJsonProvider"/>
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<!-- limit, but set limits so high most will not notice -->
				<maxLength>24576</maxLength>
				<shortenedClassNameLength>192</shortenedClassNameLength>
			</throwableConverter>
		</machineReadableJsonEncoder>
	</appender>

</included>