<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverLogstashEncoder">
            <provider class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverServiceContextJsonProvider">
            </provider>
        </encoder>
    </appender>
</included>