<configuration>
	<include resource="logback/appender.xml" />

	<!-- from org/springframework/boot/logging/logback/base.xml -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="STDOUT" class="no.entur.logging.cloud.gcp.spring.test.SpringCompositeConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${CONSOLE_LOG_THRESHOLD}</level>
		</filter>
		<humanReadablePlainEncoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</humanReadablePlainEncoder>
		<humanReadableJsonEncoder class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverLogstashEncoder">
			<!-- remove unnecessary fields in testing -->
			<!-- note: severity and severity severity is removed in code -->
			<fieldNames>
				<version>[ignore]</version>
			</fieldNames>
			<!-- add pretty-printing and coloring for testing -->
			<!--
				TODO this seems to add an extract space after the last newline,
				but as this is just the human readable format, this is not important.
			 -->
			<jsonGeneratorDecorator class="com.github.skjolber.decorators.SyntaxHighlightingDecorator">
				<syntaxHighlighterFactory class="no.entur.logging.cloud.gcp.spring.test.LogSeveritySyntaxHighlighterFactory">
				</syntaxHighlighterFactory>
			</jsonGeneratorDecorator>
		</humanReadableJsonEncoder>
		<machineReadableJsonEncoder class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverLogstashEncoder">
			<!-- note: this encoder will be used to evaluate assertions against log statements -->
			<provider class="no.entur.logging.cloud.gcp.logback.logstash.StackdriverServiceContextJsonProvider"/>
		</machineReadableJsonEncoder>
	</appender>

</configuration>